/* Google Fonts - Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* Common CSS Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 5px;
  background: #fff;
  padding: 20px 25px;
  border: none;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  width: 288px;
}

.about-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 416px;
  margin: 20px 0;
}

/* Banner Section Start */
.banner {
  background-image: url("../img/banner/banner3.png");
  height: 100vh;
  background-size: cover;
  position: relative;
}

.banner-content {
  width: 494px;
  position: absolute;
  top: 170px;
  right: 130px;
  text-align: right;
}

.banner-content h1 {
  color: #fff;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
}

.banner-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0 30px 0;
}
/* Banner Section End */

/* Main Section Starat */
main,
.footer-content {
  width: 80%;
  margin: 0 auto;
}

/* About Section Start */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.about-check-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0;
}

.about-check-box i {
  font-size: 26px;
  color: #16d887;
}

.about-check-box p {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}
/* About Section End */

/* Skill Section Start */
.skill-title {
  text-align: center;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.skill-box {
  width: 300px;
  text-align: center;
}

.skill-box h4 {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0;
}
/* Skill Section End */

/* Callnow Section Start */
.callnow {
  background-image: url("../img/watch.png");
  width: 1140px;
  height: 300px;
  background-size: cover;
  margin: 130px 0;
  position: relative;
}

.callnow-gradient {
  background-image: url("../img/gradient1.png");
  width: 1140px;
  height: 300px;
}

.callnow-content {
  position: absolute;
  top: 70px;
  left: 100px;
}

.callnow-content h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  width: 459px;
}
/* Callnow Section End */

/* Main Section End */

/* Footer Section Start */
footer {
  background: #151414;
  padding: 130px 0;
  color: #f8f8f8;
}

.footer-area {
  display: flex;
}

.footer-left h3 {
  font-size: 45px;
  font-weight: 700;
}

.footer-left {
  width: 60%;
}

.footer-right {
  width: 40%;
}

.footer-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0;
  width: 485px;
}

.footer-left .footer-left-social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-right h4 {
  font-size: 25px;
  font-weight: 600;
}

.footer-right input {
  width: 325px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #fff;
  outline: none;
  padding: 20px;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0 15px 0;
}

.footer-right input:hover {
  color: black;
  outline: none;
}

.footer-right button {
  border-radius: 8px;
  background: #005fac;
  color: #fff;
  padding: 20px 36px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
/* Footer Section End */
