/* Google Fonts - Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* Common CSS Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 5px;
  background: #fff;
  padding: 20px 25px;
  border: none;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  width: 288px;
}

.about-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 416px;
  margin: 20px 0;
}

/* Banner Section Start */
.banner {
  background-image: url("../img/banner/banner3.png");
  height: 100vh;
  background-size: cover;
  position: relative;
}

.banner-content {
  width: 494px;
  position: absolute;
  top: 170px;
  right: 130px;
  text-align: right;
}

.banner-content h1 {
  color: #fff;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
}

.sectoin-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0 30px 0;
}
/* Banner Section End */

/* Main Section Starat */
main {
  width: 80%;
  margin: 0 auto;
}

/* About Section Start */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.about-check-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0;
}

.about-check-box i {
  font-size: 26px;
  color: #16d887;
}

.about-check-box p {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}
/* About Section End */

/* Skill Section Start */
.skill-title {
  text-align: center;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.skill-box {
  width: 300px;
  text-align: center;
}

.skill-box h4 {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0;
}
/* Skill Section End */

/* Main Section End */
